# ======================== Elasticsearch Configuration =========================
#
# ---------------------------------- Cluster -----------------------------------
#
cluster.name: {{ es_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
node.name: es01
#
# ----------------------------------- Paths ------------------------------------
#
path.data: {{ es_path.data }}
path.logs: {{ es_path.log }}
path.conf: {{ es_path.conf }}
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: 0.0.0.0
#
# Set a custom port for HTTP:
#
http.port: {{ es_http_port }}
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
# discovery.zen.ping.unicast.hosts: [{% for node in groups[elasticsearch_group] -%}"{{ hostvars[node].ansible_host }}"{%- if not loop.last %}, {% endif -%}{%- endfor %}]
#
# Prevent the "split brain" by configuring the majority of nodes (total number of nodes / 2 + 1):
#
# discovery.zen.minimum_master_nodes: {{ ((groups[elasticsearch_group] | length) // 2) + 1 }}
#
# ---------------------------------- Various -----------------------------------
#
http.cors.enabled: true
http.cors.allow-origin: "*"
http.cors.allow-headers: Authorization
#